// Core JavaScript Files
script(src='js/plugins/jquery.min.js')
             
script(src='js/plugins/bootstrap.min.js')
             
script(src='js/plugins/jquery.easing.min.js')
             
script(src='js/plugins/classie.js')
             
script(src='js/plugins/gnmenu.js')
             
script(src='js/plugins/jquery.scrollTo.js')
             
script(src='js/plugins/nivo-lightbox.min.js')
             
script(src='js/plugins/stellar.js')
// Custom Theme JavaScript
script(src='js/custom.js')
