extends layout

block content
  block intro
    include ./includes/index/intro.jade

  block about
    include ./includes/index/about.jade
    
  block services
    include ./includes/index/services.jade
  
  block contact
    include ./includes/contact.jade
