doctype html
include ./includes/head.jade
  body(data-spy='scroll')
    include ./includes/menu.jade
    block content
      p isotopo
    include ./includes/footer.jade
    include ./includes/footerscripts.jade
