section#about.home-section.text-center.bg-gray
  .heading-about.marginbot-50
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            h2 About us
            p We always keep our ways on the heap of the adoption curve.
              br/
              Because 
              b Innovation 
              |is 
              u also
              |  on the simple details ,as 
              b Quality 
              |  is on the big ones
       
  .container
    .row
      .col-xs-6.col-sm-3.col-md-3
        .team.boxed-grey
          .inner
            h5 Andr&eacute;s G. Arag&oacute;n
            p.subtitle The techy nerd
                           
            .avatar
              img.img-responsive(src='img/team/1.png', alt='')
               
      .col-xs-6.col-sm-3.col-md-3
        .team.boxed-grey
          .inner
            h5 Nacim Jacobo
                           
            p.subtitle The video artist
                           
            .avatar
              img.img-responsive(src='img/team/2.png', alt='')
               
      .col-xs-6.col-sm-3.col-md-3
        .team.boxed-grey
          .inner
            h5 Mercedes Torres
                           
            p.subtitle The thinker
                           
            .avatar
              img.img-responsive(src='img/team/3.png', alt='')
               
      .col-xs-6.col-sm-3.col-md-3
        .team.boxed-grey
          .inner
            h5 Omar G Arag&oacute;n
                           
            p.subtitle The business boy
                           
            .avatar
              img.img-responsive(src='img/team/4.png', alt='')
