section#intro.intro
  .slogan
    h1 From Dreams To Reality
           
    p Digital Birth, Creative Growth, Media Expansion, Quality Preservation  
           
    a.btn.btn-skin.scroll(href='#about') Learn more
