section#service.home-section.text-center
  .heading-about.marginbot-50
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            h2 Our Services
                           
            p We have many names, adevertisers, webmasters, mad mens, creatives, geeks, producers.
              br/
              |Just tell us 
              strong what you need 
              |and we will tell you 
              strong what we can
       
  .container
    .row
      .col-sm-3.col-md-3
        .service-box
          .service-icon
            i.fa.fa-lightbulb-o.fa-3x
                       
          .service-desc
            h5 Marketing Strategy
                           
            p We live intensely all the Digital Literacy stages
               
      .col-sm-3.col-md-3
        .service-box
          .service-icon
            i.fa.fa-cloud.fa-3x
                       
          .service-desc
            h5 Web Development
                           
            p It&apos;s what we do, the emerged outcome of our work
               
      .col-sm-3.col-md-3
        .service-box
          .service-icon
            i.fa.fa-film.fa-3x
                       
          .service-desc
            h5 Video Production
                           
            p We&apos;re going deeper on this one in particular. It&apos;s amazing when you can combine new technology with a well-doned video
               
      .col-sm-3.col-md-3 
        .service-box 
          .service-icon 
            i.fa.fa-paint-brush.fa-3x
                       
          .service-desc
            h5 Content Creation
                           
            p 
              strong Content 
              |is King 
              i but 
              strong Context 
              |is Queen
